.wave-effect {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 150px;
  overflow: hidden;
}
.waves-shape {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wave-anim .wave-one {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  animation-delay: 1s;
}

.wave-one {
  background-size: 50% 100px;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.shape-one {
  z-index: 15;
  opacity: 0.5;
}
.shape-two {
  z-index: 10;
  opacity: 0.5;
}
.shape-three {
  z-index: 5;
}
.wave-anim .wave-two {
  animation: move_wave 10s linear infinite;
}

.wave-two {
  background-size: 50% 120px;
}
.wave-anim .wave-three {
  animation: move_wave 15s linear infinite;
}

.wave-three {
  background-size: 50% 100px;
}
.overlay {
  background: linear-gradient(to right, #358c86, #02423e);
  width: 100%;
  height: 100%;
  opacity: 0.9;
  color: #fff;
  vertical-align: middle;
}

.overlay-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
}

.complain-steps {
  background-color: #fff;
  color: #2b7a78;
  font-weight: bold;
}

.complain-steps .step-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.complain-steps .step-section .icon-box {
  width: 50px;
  height: 50px;
  color: #2b7a78;
  background: #dbd3d3;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.numberofcomplains {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.complain-steps .step-section .icon-box:hover {
  background: #2b7a78;
  color: #dbd3d3;
}
@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }

  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
